@{
    ViewData["Title"] = "Get To Know Joel";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br /><br />
    <h3><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></h3>
    <h3><a href="https://baconsale.com/">Baconsale</a></h3>
    <a href="https://baconsale.com/"><img src="~/content/BaconsaleKate.jpg" /></a>




</div>
